<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @claim.content %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @claim.deleted_at %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
